player-connection-mode=Listen
player-connection-guid=2008220875
player-connection-debug=0
player-connection-project-name=Super Shot
player-connection-ip=10.0.1.10
player-connection-ip=192.168.56.1
player-connection-ip=172.17.48.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=beedf6cfb16b4be28a4d39fca1947d9b
