player-connection-mode=Connect
player-connection-guid=470218177
player-connection-debug=0
player-connection-project-name=Super Shot
player-connection-wait-timeout=-1
player-connection-ip=10.0.1.10
player-connection-ip=192.168.56.1
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a686d82b010949ad8c987084276f195d
